.app-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #333841, rgb(58, 53, 53));
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.app-container h1 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.app-container p {
  font-size: 1.2rem;
  opacity: 0.9;
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.p-button {
  transition: all 0.3s ease;
}

.p-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.p-button-primary{
  background-color: #ffffff;
  color: #3a67c0;
  border: none;
}

.p-button-primary:hover {
  background-color: #2e4fa3;
  color: #dbe3ff;
  border: none;
}
.p-button-secondary {
  background-color: #ffffff;
  color: #3a67c0;
  border: none;
}

.p-button-secondary:hover {
  background-color: #2e4fa3;
  color: #dbe3ff;
  border: none;
}

.rating-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.85);
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
  font-weight: 500;
  z-index: 10;
  transition: transform 0.3s ease;
}

.rating-container:hover {
  transform: scale(1.05);
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}